<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="jsnav active" href="#home">Home</a>
        <a class="jsnav" href="#news">News</a>
        <a class="jsnav" href="#contact">Contact</a>
        <a class="jsnav" href="#about">About</a>
    </div>

    <a href="./detail.ejs"> link </a>
    <div><%= dataUser  %></div>
    <%= dataUser.length %>
    <h1 class="asd">List User</h1>
    
    <table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>View</th>
    </tr>
    <% dataUser.forEach((user) => { %>
        <!-- <%# if(user.Id == 1){ %> -->
            <tr>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><a href="./detail/<%= user.Id%>">detail</a></td>
            </tr>   
     <% }) %>

      <!-- <% for(let i=0; i < dataUser.length; i++) { %>
        <tr>
          <td><%= dataUser[i].firstName %></td>
          <td><%= dataUser[i].lastName %></td>
          <td>@</td>
        </tr>
     <% } %> -->
    </table>

    <div class="createNewuser">
        <h1 style="color: black ;">Create New User</h1>
        <form action="/createNew-User" method="POST">
            <div class="inpUser">
                <label for="">First Name :</label>
                <input type="text" name="firstName">
            </div>
            <div class="inpUser">
                <label for="">Last Name :</label>
                <input type="text" name="lastName">
            </div>
            <div class="inpUser">
                <label for="">Address     :</label>
                <input type="text"name="address">
            </div>
            <div class="inpUser">
                <button type="submit">Submit</button>
            </div>
    </form>
    </div>
        
    
</body>
<script src="js/test.js"></script>
</html>